<div class="container">
  <input class="textout" type="text" disabled="false" value="{{answer}}">
  <div class="buttonsNumbers">
    <button (click)="onAddkey($event)">1</button>
    <button (click)="onAddkey($event)">2</button>
    <button (click)="onAddkey($event)">3</button>
    <button (click)="onAddkey($event)">4</button>
    <button (click)="onAddkey($event)">5</button>
    <button (click)="onAddkey($event)">6</button>
    <button (click)="onAddkey($event)">7</button>
    <button (click)="onAddkey($event)">8</button>
    <button (click)="onAddkey($event)">9</button>
    <button (click)="onAddkey($event)">0</button>
  </div>
  <div class="buttonsOparators">
    <button (click)="onClear()"> CE </button>
    <button (click)="onAddkey($event)"> + </button>
    <button (click)="onAddkey($event)"> - </button>
    <button (click)="onAddkey($event)"> * </button>
    <button (click)="onAddkey($event)"> / </button>
  </div>
  <button class="equal" (click)="onAnswer()"> = </button>
</div>
